.fz-14 {
    font-size: 1.4rem;
}

.fz-16 {
    font-size: 1.6rem;
}

.fz-18 {
    font-size: 1.8rem;
}

.fz-20 {
    font-size: 2rem;
}

.fz-22 {
    font-size: 2.2rem;
}

.fz-24 {
    font-size: 2.4rem;
}

.fz-26 {
    font-size: 2.6rem;
}

.fz-28 {
    font-size: 2.8rem;
}

.fz-30 {
    font-size: 3rem;
}

.fz-32 {
    font-size: 3.2rem;
}

.fz-34 {
    font-size: 3.4rem;
}

.fz-36 {
    font-size: 3.6rem;
}

.fz-38 {
    font-size: 3.8rem;
}

.fz-40 {
    font-size: 4.0rem;
}